@media (max-width: 992px) {
  #form-section .row .content > h2 {
    font-size: 28px;
  }

  #form-section .row .content > p {
    font-size: 24px;
    line-height: 36px;
  }
}

@media (max-width: 768px) {
  #form-section .row {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  #form-section {
    padding: 30px;
  }
}

@media (max-width: 430px) {
  #form-section {
    padding: 30px 10px;
  }

  #form-section .row .content > h2 {
    font-size: 24px;
  }

  #form-section .row .content > p {
    font-size: 20px;
    line-height: 30px;
  }
}
