@media (max-width: 768px) {
  footer .nav-footer > ul > li > a {
    color: white;
    font-size: 12px;
  }

  footer .logo-footer > p {
    font-size: 12px;
  }

  footer .logo-footer {
    gap: 10px;
  }
}

@media (max-width: 650px) {
  footer {
    padding: 0 30px;
  }

  footer .nav-footer > ul {
    flex-direction: column;
    gap: 3px;
  }
}

@media (max-width: 430px) {
  footer {
    padding: 0 10px;
  }
}
