header {
  background-color: #6092e0;
  padding: 26px 60px 0 60px;
}

header > nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.position-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.position-nav .mobile-menu-button {
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 30px;
}

.position-nav .mobile-menu-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

header .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

header .menu li > a {
  display: block;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

header .menu li > a:hover {
  color: #005ef1;
  font-weight: 700;
  transition: 0.4s ease;
}

header .menu .header-btn {
  background-color: white;
  border-radius: 10px;
}

header .menu .header-btn > a {
  display: flex;
  width: 150px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(86deg, #383a3e 1.73%, #005ef1 96.54%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

header .menu .header-btn:hover {
  background: linear-gradient(86deg, #383a3e 1.73%, #005ef1 96.54%);
  transition: color 0.4s ease-in-out;
}

header .menu .header-btn > a:hover {
  color: white;
  transition: color 0.4s ease-in-out;
}
