#pricing-section {
  background-color: white;
  margin-top: 20px;
  padding: 60px;
}

#pricing-section > h3 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.tab {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 0;
  margin-top: 40px;
}

.tab > button {
  height: 60px;
  border: none;
  color: white;
  background-color: black;
  font-size: 28px;
  font-weight: 700;
}

.tab .active {
  background-color: #005ef1;
}

.tab > button:hover {
  background-color: #005ef1;
  transition: 0.5s ease;
}

.tabscontent {
  border: 1px solid black;
  border-radius: 0 0 10px 10px;
  max-height: 600px;
  overflow: scroll;
}

.tabscontent #tab_content {
  display: none;
  padding: 30px;
}

.tabscontent #tab_content.active {
  display: block;
  max-width: 1200px;
}

.tabscontent .active > h3 {
  font-size: 36px;
  font-weight: 700;

  letter-spacing: 1.8px;
}

.tabscontent .active > p {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 1.2px;
}

.tabscontent .active > a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  margin-top: 30px;
  max-width: 380px;
  height: 70px;
  font-size: 30px;
  font-weight: 700;
  color: white;
  background: linear-gradient(86deg, #383a3e 1.73%, #005ef1 96.54%);
  border-radius: 10px;
}

.tabscontent .active > a:hover {
  color: #005ef1;
  background: white;
  border: 1px solid #005ef1;
  transition: color 0.4s ease;
}
