@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('header.css');
@import url('hero-section.css');
@import url('advantages-section.css');
@import url('program-section.css');
@import url('tutors-section.css');
@import url('pricing-section.css');
@import url('form-section.css');
@import url('footer.css');
@import url('footer.css');
@import url('responsive/res-styles.css');
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

.fullpage {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
